@font-face {
    font-family: myfont ;
    src: url("//src/font/FontsFree-Net-BasisGrotesquePro-Bold.ttf");
    
  }
.ww{
    
    font-family: myfont !important ;
    width: 90%;
    margin: 0 auto;
    margin-top: 10%;
 font-weight: bold;
}
.ww1{
    font-family: myfont !important ;
    font-weight: bold;
    margin-bottom: 2%;
}
.slick-next:before{
    color: black !important;
}
.slick-prev:before{
    color: black !important;
}
.card-txt{
    font-family: myfont !important ;
    margin: 0 auto;
    font-weight: bold;
    text-align: center !important;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgb(35 31 32 / 20%), 0 0 1px 0 rgb(35 31 32 / 10%);
    color: #231F20;;
}
@media only screen and (max-width:750px){
    .card-txt{
      margin: 0 auto;
    }
   
    
    }
    .text1{
        font-family: myfont !important ;
        font-weight: bold;
    }
    .cities{
        padding: 8px !important;
    }